/* .edgebutton {
    width: 60px;
    height: 60px;
    background: #bdffeb;
    border: 1px solid #008a60;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 45deg;
  }

  .edgelabel {
    rotate: -45deg;
    color: #000000;
    font-weight: bold;
   }
  
  .edgebutton:hover {
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
  }
   */